DEBUG=True
SECRET_KEY=replace-me
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgresql://user:password@host/database?sslmode=require
DATABASE_SSL_REQUIRE=True
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
